<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>encrypted-online-messenger.web</display-name>
	<welcome-file-list>
		<welcome-file>homepage</welcome-file>

	</welcome-file-list>
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>com.encryptedmessenger.HelloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/hello1</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.encryptedmessenger.listeners.SessionListener</listener-class>
	</listener>
	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
</web-app>